<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/banner5.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>

        <div class="card">
            <div class="item item-text-wrap">
                This is a basic Card which contains an item that has wrapping text.
            </div>
        </div>
        <h2>Standard Card with Header and Footer</h2>
        <div class="card">
            <div class="item item-divider">
                <h2>I'm a Header in a Card!</h2>
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
            </div>
            <div class="item item-divider">
                I'm a Footer in a Card!
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                <h2>Marty McFly</h2>
                <p>November 05, 1955</p>
            </div>
        </div>
  </body>
</html>
