<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/buttons8.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>

<h3 class="demo-panel-title">Flat Design Style Buttons</h3>

<div class="row demo-row">
        <div class="span3">
          <a href="#" class="btn btn-large btn-block">Button One</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-primary">Button Two</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-info">Button Three</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-danger">Button Four</a>
        </div>
      </div> <!-- /row -->

      <div class="row demo-row">
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-success">Button Five</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-warning">Button Six</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block btn-inverse">Button Seven</a>
        </div>
        <div class="span3">
          <a href="#" class="btn btn-large btn-block disabled">Button Eight</a>
        </div>
      </div>
  <p>Reference: <a href="http://designmodo.github.io/Flat-UI/">http://designmodo.github.io/Flat-UI/</a></p>
</body>
</html>
