<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/buttons1.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="ctn-btn">
     <div class="center">
       <div class="btn light">light</div>
    </div>
</div>
<div class="ctn-btn">
    <div class="center">
       <div class="btn dark">dark</div>
    </div>
</div>
<div class="ctn-btn">
  <div class="center">
     <div class="btn pink">pink</div>
  </div>
</div>
<div class="ctn-btn">
  <div class="center">
    <div class="btn red">red</div>
  </div>
</div>
<div class="ctn-btn">
  <div class="center">
    <div class="btn green">green</div>
  </div>
</div>
<div class="ctn-btn">
  <div class="center">
    <div class="btn yelow">yellow</div>
  </div>
</div>


  </body>
</html>
