<html>
<head>
  <link href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for( 'fun.static', filename = 'css/buttons3.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
<h1>SCSS Social Login Buttons</h1>
<a class="button button--social-login button--facebook" href="#"><i class="icon fa fa-facebook"></i>Login With Facebook</a>
<a class="button button--social-login button--linkedin" href="#"><i class="icon fa fa-linkedin"></i>Login With Linkedin</a>
<a class="button button--social-login button--linkedin" href="#"><i class="icon fa fa-google"></i>Login With Google</a>
<a class="button button--social-login button--twitter" href="#"><i class="icon fa fa-twitter"></i>Login With Twitter</a>
<a class="button button--social-login button--microsoft" href="#"><i class="icon fa fa-windows"></i>Login With Microsoft</a>
<br>
<a class="button button--social-login button--googleplus" href="#"><i class="icon fa fa-google-plus"></i>Login With Google +</a>
<a class="button button--social-login button--yahoo" href="#"><i class="icon fa fa-yahoo"></i>Login With Yahoo</a>
<a class="button button--social-login button--openid" href="#"><i class="icon fa fa-openid"></i>Login With OpenID</a>
<a class="button button--social-login button--soundcloud" href="#"><i class="icon fa fa-soundcloud"></i>Login With SoundCloud</a>
<br>
<a class="button button--social-login button--spotify" href="#"><i class="icon fa fa-spotify"></i>Login With Spotify</a>
<a class="button button--social-login button--dropbox" href="#"><i class="icon fa fa-dropbox"></i>Login With Dropbox</a>
<a class="button button--social-login button--github" href="#"><i class="icon fa fa-github"></i>Login With Github</a>
<br>
<a class="button button--social-login button--bitbucket" href="#"><i class="icon fa fa-bitbucket"></i>Login With Bitbucket</a>
<a class="button button--social-login button--flickr" href="#"><i class="icon fa fa-flickr"></i>Login With Flickr</a>
</body>
</html>
