<html>
<head>
  <link href="{{ url_for( 'fun.static', filename = 'css/buttons6.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
  <section>

  <button class="blue">
    <div class="wrapper">
      <header>Teach me to fly like Superman and woo Lois Lane</header>
      <div class="data"><em>Superpowers</em> <i class="icon-time"></i> exp: <span>Apr 18, 1938</span></div>
      <p>&pound;80</p>
      <i class="icon-chevron-right"></i>
    </div>
  </button>

  <button class="green">
    <div class="wrapper">
      <header>Teach me to play ukulele like Israel Kamakawiwo'ole</header>
      <div class="data"><em>Music</em> <i class="icon-time"></i> exp: <span>May 20, 1959</span></div>
      <p>&pound;35</p>
      <i class="icon-chevron-right"></i>
    </div>
  </button>

  <button class="red">
    <div class="wrapper">
      <header>Teach me to be a javascript ninja like Mr Doob</header>
      <div class="data"><em>Web Development</em> <i class="icon-time"></i> exp: <span>Apr 1, 2010</span></div>
      <p>&pound;60</p>
      <i class="icon-chevron-right"></i>
    </div>
  </button>

  <button>
    <div class="wrapper">
      <header>Teach me to cook like The Hairy Bikers</header>
      <div class="data"><em>Cooking</em> <i class="icon-time"></i> exp: <span>Jul 07, 2013</span></div>
      <p>&pound;100</p>
      <i class="icon-chevron-right"></i>
    </div>
  </button>

</section>
</body>
</html>
