<html>
<head>
  <link href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for( 'fun.static', filename = 'css/buttons7.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
  <a class="button">
  <i class="fa fa-cloud-download"></i>
  <strong>Download</strong>
</a>
<a class="button button-yellow">
  <i class="fa fa-clock-o"></i>
  Waiting for <strong>confirmation</strong>
</a>
<a class="button button-orange">
  <i class="fa fa-exclamation-triangle"></i>
  Watch <strong>out!</strong>
</a>
<a class="button button-red">
  <i class="fa fa-times"></i>
  Order <strong>cancelled</strong>
</a>
<a class="button button-purple">
  <i class="fa fa-rocket"></i>
  Fly me to the <strong>Moon</strong>
</a>
<a class="button button-blue">
  <i class="fa fa-globe"></i>
  Hello <strong>World</strong>
</a>
<a class="button button-green">
  <i class="fa fa-check"></i>
  Order <strong>received</strong>
</a>
</body>
</html>
