<html>
  <head>
    <link href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for( 'fun.static', filename = 'css/dashboard5.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>
<nav>

  <header>
    <span></span>
    John Doe
    <a></a>
  </header>

  <ul>
    <li>Navigation</li>
    <li><a class="active">Dashboard</a></li>
    <li><a>Statistics</a></li>
    <li><a>Milestones</a></li>
    <li><a>Tickets</a></li>
    <li><a>GitHub</a></li>
    <li><a>FAQ</a></li>
    <li><a>Settings</a></li>
  </ul>

</nav>

<main>

  <h1>Dashboard</h1>

  <div class="flex-grid">

    <div>
      <h2>Headline</h2>
    </div>

    <div>
      <h2>Headline</h2>
    </div>

    <div>
      <h2>Headline</h2>
    </div>

  </div>

  <div class="flex-grid">

    <div>
      <h2>Headline</h2>
    </div>

    <div>
      <h2>Headline</h2>
    </div>

  </div>

  <div class="flex-grid">

    <div>
      <h2>Headline</h2>
    </div>

  </div>

</main>
</body>
</html>
