<html>
<head>
  <link href="{{ url_for( 'fun.static', filename = 'css/elements1.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Alert Messages and Buttons</h1>
<h2>Alert Messages</h2>
    <div class="message primary"><div class="message-arrow-wrap"><span class="message-arrow"></span></div>Primary</div>
    <div class="message standard"><div class="message-arrow-wrap"><span class="message-arrow"></span></div>Standard</div>
    <div class="message success"><div class="message-arrow-wrap"><span class="message-arrow"></span></div>Success</div>
    <div class="message alert"><div class="message-arrow-wrap"><span class="message-arrow"></span></div>Alert</div>
    <div class="message warning"><div class="message-arrow-wrap"><span class="message-arrow"></span></div>Error</div>
    <h2>Icons</h2>
    <div class="message primary icon"><div class="message-arrow-wrap"><span class="message-arrow"></span></div><span class="janrain-icon-info janrain-icon-16"></span>Primary</div>
    <div class="message standard icon"><div class="message-arrow-wrap"><span class="message-arrow"></span></div><span class="janrain-icon-question janrain-icon-16"></span>Standard</div>
    <div class="message success icon"><div class="message-arrow-wrap"><span class="message-arrow"></span></div><span class="janrain-icon-check janrain-icon-16"></span>Success</div>
    <div class="message alert icon"><div class="message-arrow-wrap"><span class="message-arrow"></span></div><span class="janrain-icon-alert janrain-icon-16"></span>Alert</div>
    <div class="message warning icon"><div class="message-arrow-wrap"><span class="message-arrow"></span></div><span class="janrain-icon-error janrain-icon-16"></span>Error</div>
<h2>Buttons</h2>
    <a href="#" class="btn primary">Primary</a><br />
    <a href="#" class="btn standard">Standard</a><br />
    <a href="#" class="btn success">Success</a><br />
    <a href="#" class="btn alert">Alert</a><br />
    <a href="#" class="btn btn_disabled standard">Disabled</a>
    <h2>Small Buttons</h2>
    <a href="#" class="btn primary btn_small">Primary</a><br />
    <a href="#" class="btn standard btn_small">Standard</a><br />
    <h2>Glow Buttons</h2>
    <a href="#" class="btn primary glow">Primary</a><br />
    <a href="#" class="btn standard glow">Standard</a><br />
    <h3>Icon Buttons</h3>
    <a href="#" class="btn primary icon" href="#"><span class="janrain-icon-down janrain-icon-16"></span><span class="btn-label">Download</span></a><br />
    <a href="#" class="btn standard icon" href="#"><span class="janrain-icon-up janrain-icon-16"></span><span class="btn-label">Upload</span></a><br />
    <a href="#" class="btn standard icon" href="#"><span class="janrain-icon-back janrain-icon-16"></span><span class="btn-label">Back</span></a><br />
    <a href="#" class="btn success icon" href="#"><span class="janrain-icon-check janrain-icon-16"></span><span class="btn-label">Success</span></a><br />
    <a href="#" class="btn alert icon" href="#"><span class="janrain-icon-alert janrain-icon-16"></span><span class="btn-label">Alert</span></a><br />
    <a href="#" class="btn primary square" href="#"><span class="janrain-icon-pencil janrain-icon-16"></span></a><br />
    <h2>Go Buttons</h2>
    <a href="#" class="btn_go">Go</a>
    <a href="#" class="btn_go">Capture</a>
    <h2>Button Links</h2>
    <a href="#" class="btn_link">link</a> or <a href="" class="btn_link"><span class="janrain-icon-16 janrain-icon-conversation"></span>link with icon</a>
</body>
</html>
