<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/fonts1.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>

<div id="textShadows" class="pen">
  <div id="fonts" class="fonts">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          <figure class="front"></figure>
          <figure class="back">
            <ul class="text">
              <li id="kandy" class="demotext">Kandys</li>
              <li id="flame" class="demotext">Flames</li>
              <li id="colormatch" class="demotext">Color Match</li>
              <li id="touchup" class="demotext">Touch Up</li>
            </ul>
          </figure>
        </div>
        <div class="col-xs-4">
          <figure class="front"></figure>
          <figure class="back">
            <ul class="text">
              <li id="kandy2" class="demotext">Kandys #2</li>
              <li id="flame2" class="demotext">Flames #2</li>
              <li id="colormatch2" class="demotext">Color Match #2</li>
              <li id="touchup2" class="demotext">Touch Up #2</li>
            </ul>
          </figure>
        </div>
        <div class="col-xs-3">
          <figure class="front"></figure>
          <figure class="back">
            <ul class="text">
              <li id="pearl" class="demotext">Pearls</li>
              <li id="stencil" class="demotext">Stencils</li>
              <li id="pinstripe" class="demotext">Pin Stripes</li>
              <li id="smoke" class="demotext">Smoke</li>
            </ul>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
          <figure class="front"></figure>
          <figure class="back">
            <ul class="text">
              <li id="pearl2" class="demotext">Pearls #2</li>
              <li id="stencil2" class="demotext">Stencils #2</li>
              <li id="pinstripe2" class="demotext">Pin Stripes #2</li>
              <li id="smoke2" class="demotext">Smoke #2</li>
            </ul>
          </figure>
        </div>
        <div class="col-xs-3">
          <figure class="front"></figure>
          <figure class="back">
            <ul class="text">
              <li id="pearl3" class="demotext">Pearls #3</li>
              <li id="stencil3" class="demotext">Stencils #3</li>
              <li id="touchup3" class="demotext">Touch Up #3</li>
              <li id="smoke3" class="demotext">Smoke #3</li>
            </ul>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
