<html>
<head>
  <link href="{{ url_for( 'fun.static', filename = 'css/menus1.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="share">
	<a href="#">Share</a>
	<div>
		<ul>
			<li><a href="#">google+</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">twitter</a></li>
		</ul>
	</div>
</div>

<div class="share orange">
	<a href="#">Share</a>
	<div>
		<ul>
			<li><a href="#">google+</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">twitter</a></li>
		</ul>
	</div>
</div>

<div class="share yellow">
	<a href="#">Share</a>
	<div>
		<ul>
			<li><a href="#">google+</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">twitter</a></li>
		</ul>
	</div>
</div>

<div class="share black">
	<a href="#">Share</a>
	<div>
		<ul>
			<li><a href="#">google+</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">twitter</a></li>
		</ul>
	</div>
</div>
</body>
</html>
