<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/menus4.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="panel">
  <div class="username">
    <h3>Emma Watson</h3>

    <div id="container-avatar">
      <div id="badge">12</div>
      <img src="http://1.bp.blogspot.com/-JtED2x_7XAw/UfhHlD-TXmI/AAAAAAAAD9Q/lugUa6id_9Y/s1600/-Teen-Vogue-by-Barrett-Sweger-2013-emma-watson-34892202-1063-1440.jpg" />
   <span class="entypo-menu"></span>

    <div class="nav">
      <ul>
        <li><a href=""><span class="entypo-cog"></span>Settings</a></li>
        <li><a href=""><span class="entypo-logout"></span>Logout</a></li>
      </ul>
    </div>
   </div>
  </div>
</div>
</body>
</html>
