<html>
<head>
  <link href="{{ url_for( 'fun.static', filename = 'css/menus2.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Source+Code+Pro' rel='stylesheet' type='text/css'>

<div class="patch-container">
  <div class="patch-item patch-button" data-patch-panel="1">One</div>
  <div class="patch-panel" data-patch-panel="1">One</div>
  <div class="patch-item patch-button" data-patch-panel="2">Two</div>
  <div class="patch-panel" data-patch-panel="2">Two</div>
  <div class="patch-item patch-button" data-patch-panel="3">Three</div>
  <div class="patch-panel" data-patch-panel="3">Three</div>
  <div class="patch-item patch-button wide" id="js-four" data-patch-panel="4">Four</div>
  <div class="patch-panel" data-patch-panel="4">Four</div>
  <div class="patch-item patch-button wide" id="js-five" data-patch-panel="5">Five</div>
  <div class="patch-panel" data-patch-panel="5">Five</div>
  <div class="patch-item patch-button thin" data-patch-panel="6">Six</div>
  <div class="patch-panel" data-patch-panel="6">Six</div>
  <div class="patch-item patch-button thin" data-patch-panel="7">Seven</div>
  <div class="patch-panel" data-patch-panel="7">Seven</div>
  <div class="patch-item patch-button thin" data-patch-panel="8">Eight</div>
  <div class="patch-panel" data-patch-panel="8">Eight</div>
  <div class="patch-item patch-button thin" data-patch-panel="9">Nine</div>
  <div class="patch-panel" data-patch-panel="9">Nine</div>
</div>
<script>
$('.patch-container').patchpanel();
</script>
</body>
</html>
