<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/menus3.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>


<div id="modafesto" class="navigation blue-light">

<ul>
  <li><a href="demo.html">Home</a></li>
  <li><a href="demo.html">Messages<span>12</span></a></li>
  <li><a href="demo.html">Visitors<span>8</span></a></li>
  <li><a href="demo.html">Gallery</a></li>
  <li class="drop right login"> <a href="#">Login</a>
   <div>
     Login Form
    </div>
  </li>
</ul>
</div>

<div class="panel">
  <a href="#" class="gray" title="gray"></a>
  <a href="#" class="blue-light" title="blue-light"></a>
  <a href="#" class="blue-dark" title="blue-dark"></a>
  <a href="#" class="purple-light" title="purple-light"></a>
  <a href="#" class="purple-dark" title="purple-dark"></a>
  <a href="#" class="pink-light"  title="pink-light"></a>
  <a href="#" class="pink-dark" title="pink-dark"></a>
  <a href="#" class="green-light" title="green-light"></a>
  <a href="#" class="green-dark" title="green-dark"></a>
  <a href="#" class="orange-light" title="orange-light"></a>
  <a href="#" class="orange-dark" title="orange-dark"></a>
  <a href="#" class="brown-light" title="brown-light"></a>
  <a href="#" class="brown-dark" title="brown-dark"></a>
  <a href="#" class="black" title="black"></a>
</div>
<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for( 'fun.static', filename = 'js/menus3.js' )}}" type="text/javascript"></script>
</body>
</html>
