<html>
  <head>
    <link href="{{ url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for( 'fun.static', filename = 'css/notification2.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>

<div id="noticationcentermain" style="background: #fff;">
  <div id="top" class="navigation">
    <div class="brand">
      <a href="#"><i class="fa fa-flask"></i> jquery.notificationcenter.js</a>
    </div>
    <ul class="right">
      <li><a href="#docs">Documentation</a></li>
      <li><a href="#params">Parameters</a></li>
      <li><a href="#meths">Methods</a></li>
      <li><a href="#tips">Tips</a></li>
      <li style="padding-left: 20px;"><span id="notificationcentericon"><i class="fa fa-bars fa-2x"></i></span></li>
    </ul>
  </div>

  <div class="content">
    <div class="banner">
      <h1>Notification center for jQuery!</h1>
      <p>Trying to implement a simple notification center like like Apple OS X.</p>
      <h4>FEATURES</h4>
      <ul>
        <li>Document title modification to show alert count</li>
        <li>Display only a certain amount of notifs at once</li>
        <li>Sound notification if the user is on an other tab/page</li>
        <li>Per type Sounds/Colors/alert timeout and notif count displayed</li>
        <li>Pop up alerts that are not retained in the notif pane</li>
        <li>Click overlay when the pane is open so any click closes the pane</li>
        <li>Notif callbacks, including a redisplay notification option</li>
        <li>Export callback so you can save the list of current notifs</li>
        <li>Mobile compat, includes options for swipe delete on notifs</li>
        <li>Mobile on notifications stay in viewport even with pinch zoom</li>
        <li>CSS Styled allows lots of styling control to the site</li>
        <li>Allow ajax and/or faye alerts on top of js calls to create alerts</li>
        <li>Allow Sticky notifications, sticky notifications also have an optional settable action button</li>

      </ul>
      <p><a class="btn btn-primary btn-large" href="https://github.com/thesin-/notificationcenter/archive/master.zip"><i class="fa fa-cloud-download fa-lg"></i> Download</a>&nbsp;&nbsp;<a class="btn btn-success btn-large" href="https://github.com/thesin-/notificationcenter"><i class="fa fa-github-alt fa-lg"></i> GitHub</a></p>
    </div>

    <div style="text-align: center; font-weight: bold; width: 100%">
      <p>New notification in <span class="timer"></span></p>
    </div>

    <div>
      <div class="cell">
        <h2>Panel Control</h2>
        <div>
          <div class="cell">
            <p>It's really easy to show the center. The plugin create a panel on the right side of your website.</p>
            <p><a class="btn slideit" href="#">Show/Hide panel</a></p>
          </div>
        </div>
      </div>
      <div class="cell">
        <h2>Notifications</h2>
        <div>
          <div class="cell">
            <p>How to throw a notification with Javascript.</p>
            <p><a class="btn notif" href="#" data-type="gift">Add a notification</a></p>
            <p><a class="btn notif" href="#" data-type="calendar">Add an other type</a></p>
            <p><a class="btn notif" href="#" data-type="fontawesome">Add a class type</a></p>
            <p><a class="btn notif" href="#" data-type="sticky">Add a alert</a></p>
            <p><a class="btn notif" href="#" data-type="snooze">Add a alert w/callback</a></p>
          </div>
        </div>
      </div>
      <div class="cell">
        <h2>Ajax Notifications</h2>
        <div>
          <div class="cell">
            <p>How to start an ajax check with Javascript. <span class="comment">Will take 5 minutes before you see the first notification.</span></p>
            <p><a class="btn ajax" href="#">Start ajax</a></p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div>
      <div class="cell">
        <a href="http://faye.jcoglan.com"><img src="//raw.githubusercontent.com/TheSin-/notificationcenter/master/img/faye-logo.gif"></a>
        <div class="cell">
          <p>Why not adding a little bit of push in it?</p>
          <blockquote>
            <p>Faye is a publish-subscribe messaging system based on the <a href="http://svn.cometd.com/trunk/bayeux/bayeux.html" target="_blank">Bayeux</a> protocol. It provides message servers for <a href="http://nodejs.org/" target="_blank">Node.js</a> and <a href="http://www.ruby-lang.org/" target="_blank">Ruby</a>, and clients for use on the server and in all major web browsers.</p>
          </blockquote>
        </div>
      </div>
    </div>

    <hr>

    <div>
      <div class="cell">
        <h2 id="tips">Tips <a class="top" href="#top">back to top</a></h2>
        <div class="cell">
          <ul>
            <li>
              <p>Want to display the date for each notification?</p>
              <p>Include <a href="http://momentjs.com/" target="_blank">Moment.js</a> and <a href="http://mattbradley.github.io/livestampjs/" target="_blank">Livestamp.js</a> and ENJOY :)</p>
            </li>
            <li>
              <p>Want mobile support with swipe delete? <span class="comment">Try it on a mobile device, swipe left on a notif in the notification panel to delete it.</span></p>
              <p>Include <a href="http://jquerymobile.com" target="_blank">jquery.mobile.js</a> and ENJOY :) <span class="comment">(jquery.mobile.css not required)</span></p>
            </li>
            <li>
              <p>Add some color to the overlay when the panel is out?</p>

              <pre>
&lt;style&gt;
	#notificationcenteroverlay {
		background-color: #000;
		opacity: 0.5;
	}
&lt;/style&gt;</pre>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr>

    <div>
      <div class="cell">
        <h2 id="docs">Documentation <a class="top" href="#top">back to top</a></h2>
        <div>
          <div class="cell">
            <h3>HTML setup</h3>
            <div class="cell">
              <pre>
&lt;body&gt;
	&lt;div id="noticationcentermain"&gt;
		[...]all your html[...]
	&lt;/div&gt;
&lt;/body&gt;</pre>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <h3>Javascript setup</h3>
            <div class="cell">
              <pre>
&lt;script&gt;
$('body').notificationcenter({
	center_element: "#notificationcenterpanel",
	body_element: "#noticationcentermain",
	toggle_button: "#notificationcentericon",
	add_panel: true,
	notification_offset: 0,
	display_time: 5000,
	types: [],
	type_max_display: 5,
	truncate_message: 0,
	header_output: '{icon} {type} {count}',
	counter: true,
	default_notifs: [],
	faye: false,
	ajax: false,
	ajax_checkTime: 5000,
	alert_hidden: true,
	alert_hidden_sound: "sounds/Funk",
	store_callback: false
});
&lt;/script&gt;</pre>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <h3 id="params">Parameters <a class="top" href="#top">back to top</a></h3>
            <div class="cell">

              <table class="arguments">
                <thead>
                  <tr>
                    <th style="width: 100px;">Name</th>
                    <th style="width: 50px;">type</th>
                    <th style="width: 50px;">default</th>
                    <th>description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>center_element</td>
                    <td>string</td>
                    <td>&quot;#notificationcenterpanel&quot;</td>
                    <td>Define the id of the element embedding your dom.</td>
                  </tr>
                  <tr>
                    <td>body_element</td>
                    <td>string</td>
                    <td>&quot;#noticationcentermain&quot;</td>
                    <td>Closes the modal when escape key is pressed</td>
                  </tr>
                  <tr>
                    <td>toggle_button</td>
                    <td>string</td>
                    <td>&quot;#notificationcentericon&quot;</td>
                    <td>Id of the button to toggle the panel.</td>
                  </tr>
                  <tr>
                    <td>add_panel</td>
                    <td>boolean</td>
                    <td>true</td>
                    <td>If you want the panel on the right.</td>
                  </tr>
                  <tr>
                    <td>notification_offset</td>
                    <td>int</td>
                    <td>0</td>
                    <td>If you want the notifications to start a little lower. Useful to not cover up the notificationcentericon.</td>
                  </tr>
                  <tr>
                    <td>display_time</td>
                    <td>int</td>
                    <td>5000</td>
                    <td>Display time for each notification in milliseconds. <span class="comment">0 means the notification is sticky and will not be added to the notif pane</span></td>
                  </tr>
                  <tr>
                    <td><a href="#" class="permalink">types</a></td>
                    <td>array</td>
                    <td>[]</td>
                    <td>Array of objects to define the types of each notifications.
                      <div class="collapsable">
                        <pre>
$('body').notificationcenter({
	types: [{
		type: 'gift', // define the type
		img: 'img/gift.png', // icon path
		imgtype: 'image', // image or class, if class img is the classes
		type_max_display: 5, // if not present the global is used
		display_time: 5000, // if not present the global is used
		alert_hidden: true, // if not present the global is used
		alert_hidden_sound: 'sounds/Funk', // if not present the global is used
		truncate_message: 0, // if not present the global is used
		header_output: '{icon} {type} {count}', // if not present the global is used
		bgcolor: '#EB5D49', // background color for the center header
		color: '#FFFFFF' // text color for the center header
	}, {
		[...]
	}]
});</pre>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>type_max_display</td>
                    <td>int</td>
                    <td>5</td>
                    <td>The amount of notifications per type to display in the panel, the rest will get queued as some are removed others will show.  <span class="comment">0 = no limit</span></td>
                  </tr>
                  <tr>
                    <td>counter</td>
                    <td>boolean</td>
                    <td>true</td>
                    <td>Display a counter.</td>
                  </tr>
                  <tr>
                    <td>truncate_message</td>
                    <td>int</td>
                    <td>0</td>
                    <td>Display only one x characters of the notification/notif. <span class="comments">callback will always have the full message</span></td>
                  </tr>
                  <tr>
                    <td>header_output</td>
                    <td>string</td>
                    <td>&quot;{icon} {type} {count}&quot;</td>
                    <td>Template for the notif headers</td>
                  </tr>
                  <tr>
                    <td><a href="#" class="permalink">default_notifs</a></td>
                    <td>array</td>
                    <td>[]</td>
                    <td>Array of objects to define the default notifications. <span class="comments">callback is optional, text can be a string or an object like the example.</span>
                      <div class="collapsable">
                        <pre>
$('body').notificationcenter({
	default_notifs: [{
		type: 'gift', // define the type
		values: [{
			text: {
				text: 'This is an example',
				title: 'This is a title'
			},
			time: date.getTime()/1000,
			new: true,
			callback: function(notif) {
				$.notificationcenter.alert(notif.text, notif.type);
			}
		}]
	}, {
		[...]
	}]
});</pre>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#" class="permalink">faye</a></td>
                    <td>object</td>
                    <td>false</td>
                    <td>Object to define the faye connection.
                      <div class="collapsable">
                        <pre>
$('body').notificationcenter({
	faye: {
		server: 'http://yourserver:port'
		chanel: 'your chanel'
	}
});</pre>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#" class="permalink">ajax</a></td>
                    <td>object</td>
                    <td>false</td>
                    <td><a href="http://api.jquery.com/jQuery.ajax/">jQuery ajax Object</a> to define the ajax call.
                      <div class="collapsable">
                        <pre>
$('body').notificationcenter({
	ajax: {
		type: 'POST',
		url: 'some.php',
		data: {
			authkey: 'guess',
			user: 'john'
		}
	}
});</pre>
                        A JSON array is expected as a result of the query, each item can be as an array or an object.
                        <pre>
[
	[
		"This is an alert",
		"system"
	 ],
	 [ ... ]
]</pre>
                        <pre>
[
	{
		"text": "This is an alert",
		"type": "system"
	},
	{
		[ ... ]
	}
]</pre>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>ajax_checkTime</td>
                    <td>int</td>
                    <td>5000</td>
                    <td>Time between ajax calls in milliseconds.</td>
                  </tr>
                  <tr>
                    <td>alert_hidden</td>
                    <td>bool</td>
                    <td>true</td>
                    <td>If you want to be alerted even if the page has not the focus.</td>
                  </tr>
                  <tr>
                    <td>alert_hidden_sound</td>
                    <td>string</td>
                    <td>''</td>
                    <td>Url of the audio file <strong>without the extension</strong> You must provide the file in both format MP3/OGG</td>
                  </tr>
                  <tr>
                    <td><a href="#" class="permalink">store_callback</a></td>
                    <td>function</td>
                    <td>false</td>
                    <td>Function to call to store the panel's contents, false = no storage.  <span class="comments">An object that holds the current panel info will be passed in as an arg. Check your console.</span>
                      <div class="collapsable">
                        <pre>
$('body').notificationcenter({
	store_callback: function(notifs) {
		$.ajax({
			type: 'POST',
			url: 'some.php',
			data: {
				uid: 100,
				notifications: notifs
			}
		}).done(function(data) {
			console.log('storage updated')
		});
	}
});</pre>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div>
          <div class="cell">
            <h3 id="meths">Methods <a class="top" href="#top">back to top</a></h3>
            <div>
              <div class="cell">
                <h4><a href="#" class="permalink">$.notificationcenter.slide()</a></h4>
                <div class="cell collapsable">
                  <pre>
$.notificationcenter.slide();</pre>
                </div>
              </div>
            </div>
            <div>
              <div class="cell">
                <h4><a href="#" class="permalink">$.notificationcenter.newAlert(text, [type], [display notification], [callback], [time], [new])</a></h4>
                <div class="cell collapsable">
                  <pre>
$.notificationcenter.newAlert('This is a new alert.', 'gift', true, function(notif) {
	$.notificationcenter.alert(notif.text, notif.type);
}, 1406857387, true);</pre>
                </div>
              </div>
            </div>
            <div>
              <div class="cell">
                <h4><a href="#" class="permalink">$.notificationcenter.faye(faye_object)</a></h4>
                <div class="cell collapsable">
                  <pre>
var faye = {
	server: 'http://yourserver:port',
	channel: 'your channel'
};

$.notificationcenter.faye(faye);</pre>
                </div>
              </div>
            </div>
            <div>
              <div class="cell">
                <h4><a href="#" class="permalink">$.notificationcenter.ajax(options_object, checkTime)</a></h4>
                <div class="cell collapsable">
                  <pre>
var ajax_options = {
	type: 'POST',
	url: 'some.php',
	data: {
		userid: 99
	}
};

$.notificationcenter.ajax(ajax_options, 5000);</pre>
                </div>
              </div>
            </div>
            <div>
              <div class="cell">
                <h4><a href="#" class="permalink">$.notificationcenter.alert(text, [type], [callback], [action])</a></h4>
                <div class="cell collapsable">
                  This is very useful for callbacks, you could setup a callback type even. <span type="comment">action defaults to banner, anything else gives you a action button on your callback and sets the notificaiton to sticky aka no timeout.</span>
                  <div class="cell">
                    <pre>
$.notificationcenter.alert('This is just an alert, nothing in notificaiton center', 'system', function(notif) {
	$.notificationcenter.alert(notif.text, notif.type);
});</pre>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="cell">
                <h4><a href="#" class="permalink">$.notificationcenter.captureTitle([title])</a></h4>
                <div class="cell collapsable">
                  Set a page title. <span class="comments">title is optional, it'll use the current title otherwise</span>
                  <div class="cell">
                    <pre>
$.notificationcenter.captureTitle('This is the new page title');</pre>
                  </div>
                  Use the current page title. <span class="comment">It will attempt to detect and remove any current notification counts</span>
                  <div class="cell">
                    <pre>
$.notificationcenter.captureTitle();</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <footer>
    &copy; jquery.notificationcenter.js
  </footer>
</div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ url_for( 'fun.static', filename = 'js/notification.js' )}}" type="text/javascript"></script>
<script src="{{ url_for( 'fun.static', filename = 'js/notification2.js' )}}" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js" type="text/javascript"></script>
</body>
</html>
