<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/panels2.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>
<div id='wrapper'>
  <aside>
    <div class='panel'>
      <h3>CSS Panel</h3>
      <div class='container'>
        <h4>Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia id.</p><a href='#'>Some Type of Link</a></div>
    </div>
    <div class='panel second'>
      <h3>CSS Panel</h3>
      <div class='container'>
        <h4>Lorem ipsum dolor sit amet?</h4><a href='#'>Some Type of Link</a></div>
    </div>
    <div class='panel third'>
      <h3>CSS Panel</h3>
      <div class='container'>
        <h4>Lorem ipsum dolor sit amet?</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam qui fugit exercitationem necessitatibus iure temporibus.</p>
      </div>
    </div>
  </aside>
</div>
</body>
</html>
