<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/panels8.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>

<fieldset>
  <h3>Color</h3>
  <label><input type="radio" name="color" value="pink" checked>Pink</label>
  <label><input type="radio" name="color" value="indigo">Indigo</label>
  <label><input type="radio" name="color" value="cyan">Cyan</label>
  <label><input type="radio" name="color" value="lightGreen">Light Green</label>
  <label><input type="radio" name="color" value="amber">Amber</label>
  <label><input type="radio" name="color" value="grey">Grey</label>
</fieldset>

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
</body>
</html>
