<html>
<head>
<link href="{{ url_for( 'fun.static', filename = 'css/panels3.css' )}}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="row fading">
<div class="panel red" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample20.jpg)">
  <div class="panel-title">
    <span class="txt">
      <span>Misti <span>Maestas</span></span>
    </span>
  </div>

  <figure class="block-image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample20.jpg" alt="sample20" />
      <figcaption>
        <p>Cheesecake pastry powder. Pastry muffin candy muffin. Bear claw gummies pie pastry chocolate bar jelly macaroon candy.</p>
      </figcaption>
    </figure>

  <div class="panel-content">
    <div class="block-text">
      <p>Lorem ipsum  pretium nunc, non egestas risus. </p>
    </div>
  </div>

  <div class="block-button red">
      <a href="" class="button">
        <span class="ico ion-clipboard"></span>
        <span class="txt">Ut a pretium</span>
        <span class="white"></span>
      </a>
   </div>

</div>

<div class="panel blue" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample30.jpg)">
  <div class="panel-title">
    <span class="txt">
      <span>Tequla <span>Ammons</span></span>
    </span>
  </div>

  <figure class="block-image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample30.jpg" alt="sample20" />

    </figure>

  <div class="panel-content">
    <div class="block-text">
     <p>Cookie gingerbread wafer. Ice cream carrot cake pastry dessert topping chupa chups topping. Halvah sweet chocolate bar candy tootsie roll liquorice.</p>
    </div>
  </div>

  <div class="block-button blue">
      <a href="" class="button">
        <span class="ico ion-clipboard"></span>
        <span class="txt">No pretium</span>
        <span class="white"></span>
      </a>
   </div>

</div>

<div class="panel green" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample41.jpg)">
  <div class="panel-title">
    <span class="txt">
      <span>Atheltico <span>Bilba</span></span>
    </span>
  </div>

  <figure class="block-image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample41.jpg" alt="sample20" />
      <figcaption>
        <p>Fruitcake sugar plum sweet macaroon lemon drops dragée. Icing cheesecake bear claw halvah dessert gummi bears danish. Candy canes jelly-o jelly tiramisu icing chocolate bar.</p>
      </figcaption>
    </figure>

  <div class="panel-content">
    <div class="block-text">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id convallis leo. Ut a pretium nunc, non egestas risus. Phasellus ac massa libero.</p>
    </div>
  </div>

  <div class="block-button green">
      <a href="" class="button">
        <span class="ico ion-clipboard"></span>
        <span class="txt">Egestas risus</span>
        <span class="white"></span>
      </a>
   </div>

</div>
</div>







<div class="row fading2">
<div class="panel red">
  <div class="panel-title">
    <span class="txt">
      <span>Misti <span>Maestas</span></span>
    </span>
  </div>

  <figure class="block-image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample37.jpg" alt="sample20" />
      <figcaption>
        <p>Cheesecake pastry powder. Pastry muffin candy muffin. Bear claw gummies pie pastry chocolate bar jelly macaroon candy.</p>
      </figcaption>
    </figure>

  <div class="panel-content">
    <div class="block-text">
      <p>Lorem ipsum  pretium nunc, non egestas risus. </p>
    </div>
  </div>

  <div class="block-button red">
      <a href="" class="button">
        <span class="ico ion-clipboard"></span>
        <span class="txt">Ut a pretium</span>
        <span class="white">
          <span class="white">
          <span class="ico ion-ios-plus-outline"></span>
          <span class="ico ion-ios-minus-outline"></span>
          <span class="ico ion-ios-close-outline"></span>
        </span>
      </a>
   </div>

</div>

<div class="panel blue">
  <div class="panel-title">
    <span class="txt">
      <span>Tequla <span>Ammons</span></span>
    </span>
  </div>

  <figure class="block-image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample18.jpg" alt="sample20" />

    </figure>

  <div class="panel-content">
    <div class="block-text">
     <p>Cookie gingerbread wafer. Ice cream carrot cake pastry dessert topping chupa chups topping. Halvah sweet chocolate bar candy tootsie roll liquorice.</p>
    </div>
  </div>

  <div class="block-button blue">
      <a href="" class="button">
        <span class="ico ion-clipboard"></span>
        <span class="txt">No pretium</span>
        <span class="white">
        <span class="white">
          <span class="ico ion-ios-plus-outline"></span>
          <span class="ico ion-ios-minus-outline"></span>
          <span class="ico ion-ios-close-outline"></span>
        </span>
      </a>
   </div>

</div>

<div class="panel green">
  <div class="panel-title">
    <span class="txt">
      <span>Atheltico <span>Bilba</span></span>
    </span>
  </div>

  <figure class="block-image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample25.jpg" alt="sample20" />
      <figcaption>
        <p>Fruitcake sugar plum sweet macaroon lemon drops dragée. Icing cheesecake bear claw halvah dessert gummi bears danish. Candy canes jelly-o jelly tiramisu icing chocolate bar.</p>
      </figcaption>
    </figure>

  <div class="panel-content">
    <div class="block-text">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id convallis leo. Ut a pretium nunc, non egestas risus. Phasellus ac massa libero.</p>
    </div>
  </div>

  <div class="block-button green">
      <a href="" class="button">
        <span class="ico ion-clipboard"></span>
        <span class="txt">Egestas risus</span>
        <span class="white">
          <span class="ico ion-ios-plus-outline"></span>
          <span class="ico ion-ios-minus-outline"></span>
          <span class="ico ion-ios-close-outline"></span>
        </span>
      </a>
   </div>

</div>
</div>
</body>
</html>
