<html>
  <head>
    <link href="{{ url_for( 'fun.static', filename = 'css/panels1.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="panel">
  <h2 class="panel--headline">This is a panel.</h2>
  <div class="panel__body">
    <p>It's a nice panel and I like it. Basically this could be an article or anything else. While trying to work with class-only it is also modular and can be extended with other modules. Or something like that.</p>
  </div>
</div>


<div class="panel panel--special">
  <hgroup class="panel--headline">
    <h1>This is a special panel.</h1>
    <h3>With multiple headlines.</h3>
  </hgroup>
  <div class="panel__body">
    <p>The <code>panel--headline</code> class can be applied to a <code>h</code> Element or to an element like <code>hgroup</code>.</p>
  </div>
</div>


<div class="panel panel--error">
  <hgroup class="panel--headline">
    <h1>Error!!11!</h1>
    <h3>Something crashed and it's obviously your faul.</h3>
  </hgroup>
  <div class="panel__body">
    <p>Anyway, have you tried turning it off and on again? No? Do so.</p>
    <p>Didn't help? Ah you haven't tried, right? Alright, then just <a href="#">go back home</a>.</p>
  </div>
</div>
  </body>
</html>
