<html>
  <head>
    <link href="{{ url_for('bower.static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for( 'fun.static', filename = 'css/shadow1.css' )}}" rel="stylesheet" type="text/css">
  </head>
  <body>

<div class="shadow-depth-1 demo-box"></div>
<div class="shadow-depth-2 demo-box"></div>
<div class="shadow-depth-3 demo-box"></div>
<div class="shadow-depth-4 demo-box"></div>
<div class="shadow-depth-5 demo-box"></div>

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.min.js') }}"></script>
</body>
</html>
