* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font: normal 1em/150% Sans-Serif;
}

input,
input:checked + label,
#hide:checked ~ #box { display: none; }

label {
    float:right;
    width: 90%;
    display: block;
    padding: 5px;
    background: #f0f0f0;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

input:checked ~ label { width: 100%; }

#box {
    position: fixed;
    width: 10%;
    height: 100%;
    background: #f0f0f0;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

#show:checked ~ #box { display: block; }

#box:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  background: -webkit-linear-gradient(left, rgba(150, 150, 150, 0), rgba(0, 0, 0, .25));
}

.content {
    width: 90%;
    float: right;
    padding: 1em;
    display: none;
}

#hide:checked ~ .content { width: 100%; }

#top,
.content:target { display: block; }

.content:target ~ #top { display: none; }

h2 { font-size: 1.75em; }

h3 { font-size: 1.25em; }

h2, h3, p {
    text-indent: 25px;
    text-align: justify;
    margin: 10px 0
}

a {
    text-decoration: none;
    display: block;
    color: #000;
    background: -webkit-linear-gradient(#fff, #f0f0f0);
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: .875em;
}

a:hover { background: -webkit-linear-gradient(#f0f0f0, #fff); }

a:hover:after {
  content: "\00bb";
  font-size: 123%;
  float: right;
}

blockquote {
    padding: .75em .5em .75em 1em;
    border-left: 0.5em solid #f0f0f0;
    margin: 1.5em 0 .75em 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

blockquote:before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -.95em;
    font: italic 400%/1em Sans-Serif;
    color: #ccc;
}
