body {
  font-family: helvetica, arial, sans-serif;
}

.btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 300;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 1px 0 rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 5px 15px 4px;
  margin: 10px 0;
  text-decoration: none;
}
.btn:hover {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 0 5px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 0 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0 0 5px rgba(0, 0, 0, 0.2) inset;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.1s linear 0s;
}
.btn:active {
  -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset;
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1) inset, 0 -1px 0px 0px rgba(255, 255, 255, 0.35) inset;
}
.btn .btn-label {
  vertical-align: middle;
}
.btn.standard:hover {
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  color: #000;
}

.btn.icon span {
  vertical-align: middle;
  margin-right: 5px;
}

.square {
  padding: 5px;
}

.btn_large {
  font-size: 1.286em;
  padding: 12px 30px;
}

.btn_small {
  font-size: 14px;
  line-height: 17px;
  padding: 3px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.message {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 300;
  line-height: 17px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 0 15px 0;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 16px;
  display: block;
}
.message .message-arrow-wrap {
  bottom: -10px;
  height: 11px;
  left: 9px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 20px;
}
.message .message-arrow-wrap .message-arrow {
  bottom: 5px;
  height: 15px;
  left: 5px;
  margin: 0;
  position: absolute;
  width: 10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 0 0px 1px rgba(0, 0, 0, 0.3) inset;
}
.message span[class*="janrain-icon-"] {
  margin-right: 5px;
}
.message.large {
  padding: 10px 15px;
  font-size: 1.385em;
}

.primary {
  background-color: #0079a9;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOWRkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzlhOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009ddc), color-stop(100%, #0079a9));
  background-image: -moz-linear-gradient(top, #009ddc, #0079a9);
  background-image: -webkit-linear-gradient(top, #009ddc, #0079a9);
  background-image: linear-gradient(to bottom, #009ddc, #0079a9);
  color: #fff;
  text-shadow: 0 1px #0085BA;
}
.primary .message-arrow {
  background-color: #0079a9;
}

.standard {
  background-color: #d5d5d5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(top, #eeeeee, #d5d5d5);
  background-image: -webkit-linear-gradient(top, #eeeeee, #d5d5d5);
  background-image: linear-gradient(to bottom, #eeeeee, #d5d5d5);
  color: #fff;
  color: #333;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.standard .message-arrow {
  background-color: #d5d5d5;
}

.success {
  background-color: #629d34;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhYzE0MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYyOWQzNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ac143), color-stop(100%, #629d34));
  background-image: -moz-linear-gradient(top, #7ac143, #629d34);
  background-image: -webkit-linear-gradient(top, #7ac143, #629d34);
  background-image: linear-gradient(to bottom, #7ac143, #629d34);
  color: #fff;
}
.success .message-arrow {
  background-color: #629d34;
}

.alert {
  background-color: #db7d07;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4OTcxZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RiN2QwNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8971d), color-stop(100%, #db7d07));
  background-image: -moz-linear-gradient(top, #f8971d, #db7d07);
  background-image: -webkit-linear-gradient(top, #f8971d, #db7d07);
  background-image: linear-gradient(to bottom, #f8971d, #db7d07);
  color: #fff;
}
.alert .message-arrow {
  background-color: #db7d07;
}

.warning {
  background-color: #d54119;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NWUzOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1NDExOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e85e39), color-stop(100%, #d54119));
  background-image: -moz-linear-gradient(top, #e85e39, #d54119);
  background-image: -webkit-linear-gradient(top, #e85e39, #d54119);
  background-image: linear-gradient(to bottom, #e85e39, #d54119);
  color: #fff;
}
.warning .message-arrow {
  background-color: #d54119;
}

.btn_disabled {
  padding: 5px 15px 4px;
  text-decoration: none;
  cursor: inherit;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.glow {
  -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  margin: 3px;
}
.glow:hover {
  -moz-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, rgba(0, 0, 0, 0.05) 0 0 20px inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, rgba(0, 0, 0, 0.05) 0 0 20px inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.5) inset, 0 -1px 0px 0px rgba(0, 0, 0, 0.2) inset, rgba(0, 0, 0, 0.05) 0 0 20px inset, 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.btn_go {
  border: 1px solid #E6F0F5;
  font-size: 14px;
  color: #009DDC;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U2ZjBmNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e6f0f5));
  background: -moz-linear-gradient(top, #ffffff, #e6f0f5);
  background: -webkit-linear-gradient(top, #ffffff, #e6f0f5);
  background: linear-gradient(to bottom, #ffffff, #e6f0f5);
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  text-shadow: none;
  font-weight: 100;
  padding: 5px 10px;
  vertical-align: baseline;
}
.btn_go:hover {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -moz-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px rgba(0, 0, 0, 0.2);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYjhmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWRkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3fb8f7), color-stop(100%, #009ddc));
  background: -moz-linear-gradient(top, #3fb8f7, #009ddc);
  background: -webkit-linear-gradient(top, #3fb8f7, #009ddc);
  background: linear-gradient(to bottom, #3fb8f7, #009ddc);
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
.btn_go:active {
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYjhmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOWRkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #3fb8f7), color-stop(100%, #009ddc));
  background: -moz-linear-gradient(bottom, #3fb8f7, #009ddc);
  background: -webkit-linear-gradient(bottom, #3fb8f7, #009ddc);
  background: linear-gradient(to top, #3fb8f7, #009ddc);
  -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.btn_link {
  padding: 5px 7px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.btn_link:hover {
  background-color: #E7F1F6;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.1s linear 0s;
}
.btn_link:active {
  background-color: #009DDC;
  color: #fff;
  -moz-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -webkit-transition: all 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: all 0.1s linear 0s;
}
.btn_link span[class*="janrain-icon"] {
  margin-right: 5px;
}

a.primary, a.alert, a.success {
  color: #fff;
}

a.standard {
  color: #333;
}

a.btn_go, a.btn_link {
  color: #009DDC;
}
