body {
  margin: 0;
  overflow: hidden;
}

.eles {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.heart {
  position: absolute;
  width: 80%;
  height: 27%;
  margin: auto;
  top: 20px;
  left: 0;
  right: 0;
}

path#ele {
  stroke-dasharray: 603;
  stroke-dashoffset: 603;
  -webkit-animation: draw 2.5s linear forwards;
          animation: draw 2.5s linear forwards;
}

path#heart:nth-child(0) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2s linear forwards;
          animation: draw 0.25s 2s linear forwards;
}

path#heart:nth-child(1) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.05s linear forwards;
          animation: draw 0.25s 2.05s linear forwards;
}

path#heart:nth-child(2) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.1s linear forwards;
          animation: draw 0.25s 2.1s linear forwards;
}

path#heart:nth-child(3) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.15s linear forwards;
          animation: draw 0.25s 2.15s linear forwards;
}

path#heart:nth-child(4) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.2s linear forwards;
          animation: draw 0.25s 2.2s linear forwards;
}

path#heart:nth-child(5) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.25s linear forwards;
          animation: draw 0.25s 2.25s linear forwards;
}

path#heart:nth-child(6) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.3s linear forwards;
          animation: draw 0.25s 2.3s linear forwards;
}

path#heart:nth-child(7) {
  stroke-dasharray: 15;
  stroke-dashoffset: 15;
  -webkit-animation: draw 0.25s 2.35s linear forwards;
          animation: draw 0.25s 2.35s linear forwards;
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
