*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  padding: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

h1 {
  margin-top: 0;
}

.Frame {
  position: relative;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 1.5em;
}
.Frame p,
.Frame p:first-child {
  margin: 0;
}
.Frame p + p {
  margin-top: .75em;
}

.Frame-bd {
  padding: 1.5em;
}

.Frame-hd,
.Frame-ft {
  padding: .75em 1.5em;
  line-height: 1.25;
}

.Frame-hd {
  border-bottom: 1px solid transparent;
}

.Frame-title {
  margin-bottom: 0;
  margin-top: 0;
}
.Frame-title,
.Frame-title > a {
  color: inherit;
}

.Frame--panel,
.Frame--outline {
  border-color: #d9ddde;
}

.Frame--panel .Frame-hd {
  border-bottom-color: #d9ddde;
  background-color: #edf1f2;
}
.Frame--panel .Frame-ft {
  background-color: #f4f6f7;
}

.Frame--outline .Frame-hd {
  border-bottom-color: #d9ddde;
}
.Frame--outline .Frame-ft {
  border-top: 1px solid #d9ddde;
}

.Frame--well {
  border-color: #e4e4e4;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
}

.Frame--thumbnail {
  border-color: #ddd;
  padding: .25em;
}
.Frame--thumbnail > img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.Frame--thumbnail .Frame-bd {
  padding: .5em;
}

.Frame--callout {
  border-color: #ddd;
  border-left-width: 5px;
  padding: 1.5em;
}

.Frame--callout--info {
  border-left-color: #3498db;
}
.Frame--callout--info .Frame-title {
  color: #3498db;
}

[class^="_size"] {
  display: inline-block;
  vertical-align: top;
}

._size1of8 {
  width: 12.5%;
}

._size1of3 {
  width: 33%;
}
