@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.row {
  display: flex;
  align-items: stretch;
  margin: 1%;
}
.row.fading .panel {
  background-blend-mode: multiply;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  width: 31%;
  margin: 1%;
  overflow: hidden;
  background-color: #535353;
  background-size: 100% auto;
  color: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.row.fading .panel .panel-title {
  padding: 25px 25px 0 25px;
  align-items: flex-start;
  order: 1;
}
.row.fading .panel .panel-title .txt {
  font-size: 82.5%;
}
.row.fading .panel .panel-title .txt span {
  font-weight: 800;
  display: block;
  font-size: 200%;
}
.row.fading .panel .panel-title .txt span span {
  font-weight: 400;
  display: inline-block;
  font-size: 100%;
}
.row.fading .panel .block-image {
  margin: 0;
  align-self: flex-start;
  order: 3;
}
.row.fading .panel .block-image img {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.row.fading .panel .block-image figcaption {
  align-self: center;
  padding: 0 25px;
  position: relative;
  z-index: 1;
  font-size: 82.5%;
}
.row.fading .panel .panel-content {
  padding: 0 25px;
  font-size: 82.5%;
  align-self: flex-start;
  order: 2;
}
.row.fading .panel .block-button {
  width: 100%;
  posiiton: relative;
  z-index: 1;
  align-self: flex-end;
  order: 4;
}
.row.fading .panel .block-button .button {
  width: 100%;
  padding: 0 0 0 25px;
  display: flex;
  border: 0;
  color: #ffffff;
  font-weight: 400;
  line-height: 45px;
  height: 45px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.row.fading .panel .block-button .button .ico {
  font-size: 120%;
  flex: 0.2;
  transition: all 0.5s ease;
}
.row.fading .panel .block-button .button:hover .ico {
  flex: 0.5;
}
.row.fading .panel .block-button .button .txt {
  font-size: 90%;
  flex: 2.5;
}
.row.fading .panel .block-button .button .white {
  background: #c0c0c0;
  height: 45px;
  flex: 1;
}
.row.fading .panel:hover .block-image img {
  opacity: 1;
}
.row.fading .panel:hover figcaption {
  opacity: 0;
}
.row.fading .panel.red,
.row.fading .panel .red {
  background-color: #6d2018;
}
.row.fading .panel.red a,
.row.fading .panel .red a {
  background-color: #c0392b;
}
.row.fading .panel.blue,
.row.fading .panel .blue {
  background-color: #164666;
}
.row.fading .panel.blue a,
.row.fading .panel .blue a {
  background-color: #2980b9;
}
.row.fading .panel.green,
.row.fading .panel .green {
  background-color: #145b32;
}
.row.fading .panel.green a,
.row.fading .panel .green a {
  background-color: #27ae60;
}
.row.fading2 .panel {
  background-blend-mode: multiply;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  width: 31%;
  margin: 1%;
  overflow: hidden;
  background-color: #313131;
  color: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.row.fading2 .panel .panel-title {
  padding: 25px;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.row.fading2 .panel .panel-title .txt {
  font-size: 82.5%;
}
.row.fading2 .panel .panel-title .txt span {
  font-weight: 800;
  display: block;
  font-size: 200%;
}
.row.fading2 .panel .panel-title .txt span span {
  font-weight: 400;
  display: inline-block;
  font-size: 100%;
}
.row.fading2 .panel .block-image {
  margin: 0;
  align-self: center;
}
.row.fading2 .panel .block-image img {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
}
.row.fading2 .panel .block-image figcaption {
  display: none;
}
.row.fading2 .panel .panel-content {
  padding: 0 25px;
  font-size: 82.5%;
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  width: 100%;
}
.row.fading2 .panel .block-button {
  width: 100%;
  posiiton: relative;
  z-index: 1;
  align-self: flex-end;
  opacity: 0;
  margin: 20px 0;
}
.row.fading2 .panel .block-button .button {
  width: 100%;
  padding: 0 0 0 25px;
  display: flex;
  color: #ffffff;
  font-weight: 400;
  line-height: 45px;
  height: 45px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.row.fading2 .panel .block-button .button .ico {
  font-size: 120%;
  flex: 0.25;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}
.row.fading2 .panel .block-button .button .txt {
  font-size: 90%;
  flex: 2.5;
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}
.row.fading2 .panel .block-button .button .white {
  background: #313131;
  height: 45px;
  flex: 2;
  text-align: center;
}
.row.fading2 .panel .block-button .button .white .ico {
  font-size: 200%;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.row.fading2 .panel:hover .block-image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -ms-filter: blur(0);
  filter: blur(0);
}
.row.fading2 .panel:hover .panel-content {
  opacity: 0;
}
.row.fading2 .panel:hover .block-button {
  opacity: 1;
}
.row.fading2 .panel:hover .block-button .ico,
.row.fading2 .panel:hover .block-button .txt {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.row.fading2 .panel:hover .block-button .white .ico {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.row.fading2 .panel.red,
.row.fading2 .panel .red {
  background-color: #6d2018;
}
.row.fading2 .panel.red a,
.row.fading2 .panel .red a {
  background-color: #c0392b;
}
.row.fading2 .panel.blue,
.row.fading2 .panel .blue {
  background-color: #164666;
}
.row.fading2 .panel.blue a,
.row.fading2 .panel .blue a {
  background-color: #2980b9;
}
.row.fading2 .panel.green,
.row.fading2 .panel .green {
  background-color: #145b32;
}
.row.fading2 .panel.green a,
.row.fading2 .panel .green a {
  background-color: #27ae60;
}
